<!-- <app-courses></app-courses>
<h1>
  {{title}}
</h1>
<app-heart [counter]="totalCount"></app-heart>
<app-parent></app-parent>

 -->
 <!-- <app-switch></app-switch> -->
 <!-- <app-user></app-user> -->
 <!-- <app-cust></app-cust> -->
 <app-templateform></app-templateform>
 <div class="dropdown open">
   <a class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
         Dropdown
        </a>
   <div class="dropdown-menu" aria-labelledby="triggerId">
     <a class="dropdown-item" href="#">Action</a>
     <a class="dropdown-item disabled" href="#">Disabled action</a>
   </div>
 </div>

